* {
    padding: 0px;
    margin: 0px;
}

/**********************************************************************************************************************/

/*Main Page Image*/
.mainPageImg {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
    url("Image/JucyTaco.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}/*End Main Page Image*/


/*Main Page Nav*/
 .mainPageNav {
     padding-right: 40px;
     padding-top: 30px;
     float: right;
     position: relative;
     z-index: 10;
 }

    .mainPageNav li {
        list-style: none;
        display: inline-block;
        padding-left: 30px;
    }

        .mainPageNav li a {
            display: block;
            padding: 8px;
            border: 2px solid white;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
            transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
            font-family: Arial;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            text-decoration: none;
            letter-spacing: 0.4px;
            font-weight: 700;
        }

    .mainPageNav li a:hover {
        border-color: white;
        background-color: white;
        color: black !important;
    }

/*Main Page Logo*/
.mainPageLogo img {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}/*End Main Page Logo*/


/*Main Page Text*/
.mainPageTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    min-height: 600px;
    color: white;
}

    .mainPageTxt h1 {
        font-size: 50px;
        font-family: Arial;
        transition: all .4s ease-in-out;
    }

    .mainPageTxt h1:hover {
        transform: scale(1.1);
    }

    .mainPageTxt a {
        display: block;
        padding: 8px;
        border: 2px solid white;
        border-radius: 4px;
        color: white;
        -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
        transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
        font-family: Arial;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-decoration: none; 
        letter-spacing: 0.4px;
        font-weight: 700;
    }

    .mainPageTxt a:hover {
        border-color: white;
        background-color: white;
        color: black !important;
    }/*End Main Page Text*/

/******************************************************************************************************************************/

body {
    background: #5d5d5d;
}

nav {
    width: auto;
    height: auto;
    background-color: #444444;
}

    nav ul {
        padding-right: 40px;
        padding-top: 30px;
        float: right;
    }

        nav ul li {
            list-style: none;
            display: inline-block;
            padding-left: 30px;
        }

            nav ul li a {
                display: block;
                padding: 8px;
                border: 2px solid white;
                border-radius: 4px;
                color: white;
                font-size: 16px;
                -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
                transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
                font-family: Arial;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                text-decoration: none;
                letter-spacing: 0.4px;
                font-weight: 700;
            }

                nav ul li a:hover {
                    border-color: white;
                    background-color: white;
                    color: black !important;
                }

.navImg {
    padding-left: 20px;
    padding-top: 10px;
    transition: all .3s ease-in-out;
}

    .navImg:hover {
        transform: scale(1.1);
    }

.centeredText {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: all .3s ease-in-out;
    width: -moz-fit-content;
    width: fit-content;
    font-family: Arial;
}

    .centeredText:hover {
        transform: scale(1.1);
    }

.centeredTextNoHover {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    font-family: Arial;
}

.StaffImgAJ {
    margin-left: 20px;
    border: 10px solid white;
    box-shadow: 1px 1px 2px #e6e6e6;
    width: 300px;
    height: 300px;
    background-image: url(Image/ChefAJ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.StaffImgKS {
    margin-left: 20px;
    border: 10px solid white;
    box-shadow: 1px 1px 2px #e6e6e6;
    width: 300px;
    height: 300px;
    background-image: url(Image/ChefAJ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.StaffImgN {
    margin-left: 20px;
    border: 10px solid white;
    box-shadow: 1px 1px 2px #e6e6e6;
    width: 300px;
    height: 300px;
    background-image: url(Image/Nathon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

    .StaffImgN:hover {
        width: 300px;
        height: 300px;
        background-image: url(Image/Nathon2.JPG);
    }

.grid {
    display: grid;
    justify-content: center;
    font-family: Arial;
}

.grid td {
    padding: 10px;
    font-family: Arial;
}

    .grid th {
        padding: 10px;
        font-family: Arial;
    }

.staffText {
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 204, 0, 0.7);
    transition: all .3s ease-in-out;
    width: -moz-fit-content;
    width: fit-content;
    font-family: Arial;
    font-size: 30px;
}

    .staffText:hover {
        transform: scale(1.1);
    }

.staffQuotes {
    margin-left: 30px;
    color: white;
    font-family: Arial;
    font-size: 20px;
}

.loginWrapper {
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 6px;
    background-color: #787976;
    justify-content: center;
    color: white;
}

.loginWrapper table {
    margin-left: auto;
    margin-right: auto;
}

.loginWrapper tr td {
    font-family: Arial;
    font-size: 18px;
}

    .loginWrapper a {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-family: Arial;
    }

.centerLogin-label-btn {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ReservationPageImg {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.centeredTable {
    justify-content: center;
    margin: 0 auto;
}

.adminGrid {
    display: grid;
    justify-content: center;
}

    .adminGrid td {
        padding: 10px;
    }

.restaurantInfo {
    display: list-item;
    list-style: none;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    background-color: #787976;
    justify-content: center;
    color: white;
    font-family: Arial;
}